.emp-logo {
    width: 16px;
}
.wc-order-totals, .wc-order-totals td {
    font-size: 12px;
    width: 100%!important;
}
.bootstrap .tooltip-inner {
    padding: 5px 20px;
}
.slim-message {
    width:15%;
}
.bootstrap .text-left {
    text-align: left;
}
.bootstrap th {
    font-size: 12px;
    text-align: left;
}
.spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    display: none;
    float:none;
    visibility: visible;
    width: 16px;
    height: 16px;
    margin: auto;
}